* {
    margin:0;
}

nav {
    background-image: url(../img/pattern.png);
    background-color:dodgerblue;
    background-attachment: fixed;
    background-position:top;
    background-position-x:130px;
    height: 180px;
}